html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111f2c;
  color: white;
  font-family: monospace;
}

.App {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.first-heading {
  font-weight: 700;
  font-size: 1rem;
}

/* Message Styling */
.messageText {
  margin: 40px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  border: 1px solid orange;
  border-radius: 16px;
  padding: 20px;
  word-wrap: break-word;
  line-height: 2;
}

/* POST area styling */
.post-area {
  border: 1px solid orange;
  padding: 22px;
  border-radius: 16px;
  max-width: 600px;
  width: 90%;
}

.bitcoinAmount {
  margin-left: auto;
  color: #f0b356;
  padding-top: 8px;
  text-align: end;
}

/* bitcoin image and logo */
.app-outer{
  font-family: monospace;
  font-size: 0.8rem;
}

.app-outer .btc-png{
  width: 50px;
  margin-left: 20px;
  margin-top: 20px;
}

@media (max-width: 700px) {
  .App {
    height: auto;
  }
  .messageText {
    line-height: 1.5;
  }
}
